#account-menu-toggler {
  padding: 0 !important;
  border: 0 !important;
}

@include media-breakpoint-up(lg) {
  #account-menu {
    display: none !important;
  }
}

.navbar-brand {
  font-weight: bold;
  @include outline(2);
  font-family: $headings-font-family;

  &, &:hover, &:active {
    color: #000 !important;
  }
}
