#account-menu-toggler {
  padding: 0 !important;
  border: 0 !important;
}

@include media-breakpoint-up(lg) {
  #account-menu {
    display: none !important;
  }
}

.navbar-brand {
  font-weight: bold;
  @include outline(2);
  font-family: $headings-font-family;

  &, &:hover, &:active {
    color: #000 !important;
  }
}

#desktop-account-dropdown-toggler {
  cursor: pointer !important;
  margin-right: $navbar-nav-link-padding-x;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-flow: row nowrap;

  &:after {
    display: none;
  }

  .dd-label {
    margin-left: $navbar-nav-link-padding-x;
  }
}

#desktop-account-dropdown {
  background-color: $primary;

  .user-link {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}
