<ng-container>
  <nav class="navbar sticky-top navbar-dark bg-primary navbar-expand-lg" *appVar="user$ | async as user">
    <button class="navbar-toggler" id="account-menu-toggler" type="button" (click)="toggleAccountMenu()">
      <span class="sr-only">{{'GLOBAL.HEADER.ACCOUNT_MENU' | translate}}</span>
      <app-avatar-wrap [avatarUrl]="user.avatarUrl" [avatarProvider]="user.avatarProvider" [size]="40" [email]="user.email"></app-avatar-wrap>
    </button>

    <span class="navbar-brand d-lg-none">MLP Vector Club</span>

    <button class="navbar-toggler" type="button" (click)="toggleNav()">
      <i class="fa fa-fw" [class.fa-bars]="isNavCollapsed" [class.fa-times]="!isNavCollapsed"></i>
    </button>

    <ng-template #accountMenuContents>
      <li class="nav-item">
        <span class="nav-link active">
          <strong>
            <app-user-link *ngIf="signedIn; else defaultUsername" [userName]="user.name"></app-user-link>
            <ng-template #defaultUsername>
              {{'GLOBAL.GUEST_USER_NAME' | translate}}
            </ng-template>
          </strong>
          <small class="d-block text-uppercase">{{user.role | roleLabel}}</small>
        </span>
      </li>
      <li *ngIf="signedIn" class="nav-item">
        <a href="#" (click)="$event.preventDefault()" #logoutTrigger="ngbPopover" class="nav-link" [popoverTitle]="'GLOBAL.CONFIRM_POPOVER.TITLE' | translate" [ngbPopover]="logoutConfirm" placement="bottom">{{'GLOBAL.HEADER.LOGOUT' | translate}}</a>
        <ng-template #logoutConfirm>
          <div class="btn-group">
            <button class="btn btn-primary" (click)="logoutTrigger.close(); logout()">{{'GLOBAL.CONFIRM_POPOVER.YES' | translate}}</button>
            <button class="btn btn-light" (click)="logoutTrigger.close()">{{'GLOBAL.CONFIRM_POPOVER.NO' | translate}}</button>
          </div>
        </ng-template>
      </li>
      <ng-container *ngIf="!signedIn">
        <li class="nav-item">
          <a href="#" class="nav-link" (click)="openAuthModal($event, 'LOGIN')">{{'GLOBAL.HEADER.LOGIN' | translate}}</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" (click)="openAuthModal($event, 'REGISTER')">{{'GLOBAL.HEADER.REGISTER' | translate}}</a>
        </li>
      </ng-container>
    </ng-template>

    <div [ngbCollapse]="isAccountMenuCollapsed" class="collapse navbar-collapse" id="account-menu">
      <ul class="navbar-nav">
        <ng-container [ngTemplateOutlet]="accountMenuContents"></ng-container>
      </ul>
    </div>

    <div [ngbCollapse]="isNavCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav" drag-scroll>
        <li class="nav-item d-none d-lg-block p-0" ngbDropdown>
          <a class="nav-link p-0" ngbDropdownToggle id="desktop-account-dropdown-toggler" role="button">
            <app-avatar-wrap [avatarUrl]="user.avatarUrl" [avatarProvider]="user.avatarProvider" [size]="40" [email]="user.email"></app-avatar-wrap>
            <span class="sr-only">{{'GLOBAL.HEADER.ACCOUNT_MENU' | translate}}</span>
            <i class="fa fa-chevron-down dd-label"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="desktop-account-dropdown" class="dropdown-menu" id="desktop-account-dropdown">
            <div class="nav mx-2 flex-column">
              <ng-container [ngTemplateOutlet]="accountMenuContents"></ng-container>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/cg'>{{'TITLES.COLOR_GUIDE' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/show'>{{'TITLES.SHOW' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/events'>{{'TITLES.EVENTS' | translate}}</a>
        </li>
        <ng-container *ngIf="user.role | permission:'staff'">
          <li class="nav-item">
            <a class="nav-link" routerLink='/admin'>{{'TITLES.ADMIN' | translate}}</a>
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link" routerLink='/about'>{{'TITLES.ABOUT' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]="c.CLUB_URL" target="_blank" rel="noopener">
            MLP-VectorClub
            <i class="fa fa-external-link-alt"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</ng-container>

<ng-template #authModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ ('GLOBAL.AUTH_MODAL.' + authOption + '.HEADER') | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <div class="modal-body">
    <form *ngIf="authOption === 'LOGIN'" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="login-email">{{ 'GLOBAL.AUTH_MODAL.COMMON.EMAIL' | translate }}</label>
        <ng-container *appVar="(loginError && loginError.type === uert.VALIDATION_ERROR && loginError.errors.email) as emailErrors">
          <input type="email" class="form-control" [class.is-invalid]="emailErrors" id="login-email" formControlName="email" required>
          <div class="invalid-feedback" *ngFor="let error of emailErrors">{{error}}</div>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="login-password">{{ 'GLOBAL.AUTH_MODAL.COMMON.PASSWORD' | translate }}</label>
        <ng-container *appVar="(loginError && loginError.type === uert.VALIDATION_ERROR && loginError.errors.password) as passwordErrors">
          <div class="row no-gutters">
            <div class="col">
              <input [type]="revealPassword ? 'text' : 'password'" class="form-control" [class.is-invalid]="passwordErrors" id="login-password" formControlName="password" required>
            </div>
            <div class="col-auto">
              <button tabindex="-1" type="button" class="btn btn-link" (click)="revealPassword = !revealPassword" [title]="('GLOBAL.AUTH_MODAL.COMMON.' + (!revealPassword ? 'REVEAL' : 'CONCEAL') + '_PASSWORD') | translate">
                <i class="fa fa-fw" [class.fa-eye]="!revealPassword" [class.fa-eye-slash]="revealPassword"></i>
              </button>
            </div>
          </div>
          <div class="invalid-feedback d-block" *ngFor="let error of passwordErrors">{{error}}</div>
        </ng-container>
      </div>

      <div class="d-flex align-items-center mb-3">
        <button class="btn btn-primary" [disabled]="authLoading || loginForm.invalid">
          <i class="fa fa-sign-in-alt mr-2"></i>
          {{ 'GLOBAL.AUTH_MODAL.LOGIN.SUBMIT' | translate }}
        </button>
        <div *ngIf="authLoading" class="ml-2 spinner-border text-primary"></div>
      </div>

      <ng-container *ngIf="loginError">
        <ngb-alert *ngIf="loginError.type !== uert.VALIDATION_ERROR" [ngSwitch]="loginError.type">
          <ng-container *ngSwitchCase="uert.MESSAGE_ONLY">
            <strong>{{ 'GLOBAL.AUTH_MODAL.LOGIN.UNKNOWN_ERROR_PREFACE' | translate }}</strong>
            {{ loginError.message }}
          </ng-container>
          <ng-container *ngSwitchCase="uert.UNKNOWN">
            <strong>{{ 'GLOBAL.AUTH_MODAL.LOGIN.UNKNOWN_ERROR_PREFACE' | translate }}</strong>
            <pre><code>{{ loginError.payload }}</code></pre>
          </ng-container>
          <ng-container *ngSwitchCase="uert.AUTHENTICATION_ERROR">
            {{ 'GLOBAL.AUTH_MODAL.LOGIN.INVALID_CREDENTIALS' | translate }}
          </ng-container>
        </ngb-alert>
      </ng-container>

      <p class="mb-0">
        {{ 'GLOBAL.AUTH_MODAL.LOGIN.SWITCH_PRETEXT' | translate }}
        <a href="#" (click)="switchAuthModal($event, 'REGISTER')">
          {{ 'GLOBAL.AUTH_MODAL.LOGIN.SWITCH_TEXT' | translate }}
        </a>
      </p>
    </form>
    <form *ngIf="authOption === 'REGISTER'" [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-group">
        <label for="register-name">{{ 'GLOBAL.AUTH_MODAL.COMMON.NAME' | translate }}</label>
        <ng-container *appVar="(registerError && registerError.type === uert.VALIDATION_ERROR && registerError.errors.name) as nameErrors">
          <input type="text" class="form-control" [class.is-invalid]="nameErrors" id="register-name" formControlName="name" required>
          <div class="invalid-feedback" *ngFor="let error of nameErrors">{{error}}</div>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="register-email">{{ 'GLOBAL.AUTH_MODAL.COMMON.EMAIL' | translate }}</label>
        <ng-container *appVar="(registerError && registerError.type === uert.VALIDATION_ERROR && registerError.errors.email) as emailErrors">
          <input type="email" class="form-control" [class.is-invalid]="emailErrors" id="register-email" formControlName="email" required>
          <div class="invalid-feedback" *ngFor="let error of emailErrors">{{error}}</div>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="register-password">{{ 'GLOBAL.AUTH_MODAL.COMMON.PASSWORD' | translate }}</label>
        <ng-container *appVar="(registerError && registerError.type === uert.VALIDATION_ERROR && registerError.errors.password) as passwordErrors">
          <div class="row no-gutters">
            <div class="col">
              <input [type]="revealPassword ? 'text' : 'password'" class="form-control" [class.is-invalid]="passwordErrors" id="register-password" formControlName="password" required>
            </div>
            <div class="col-auto">
              <button tabindex="-1" type="button" class="btn btn-link" (click)="revealPassword = !revealPassword" [title]="('GLOBAL.AUTH_MODAL.COMMON.' + (!revealPassword ? 'REVEAL' : 'CONCEAL') + '_PASSWORD') | translate">
                <i class="fa fa-fw" [class.fa-eye]="!revealPassword" [class.fa-eye-slash]="revealPassword"></i>
              </button>
            </div>
          </div>
          <div class="invalid-feedback d-block" *ngFor="let error of passwordErrors">{{error}}</div>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="register-password-confirmation">{{ 'GLOBAL.AUTH_MODAL.COMMON.PASSWORD_CONFIRMATION' | translate }}</label>
        <ng-container *appVar="(registerError && registerError.type === uert.VALIDATION_ERROR && registerError.errors.passwordConfirm) as passwordConfirmErrors">
          <div class="row no-gutters">
            <div class="col">
              <input [type]="revealPassword ? 'text' : 'password'" class="form-control" [class.is-invalid]="passwordConfirmErrors || registerForm.errors?.passwordMismatch" id="register-password-confirmation" formControlName="passwordConfirm" required>
            </div>
            <div class="col-auto">
              <button tabindex="-1" type="button" class="btn btn-link" (click)="revealPassword = !revealPassword" [title]="('GLOBAL.AUTH_MODAL.COMMON.' + (!revealPassword ? 'REVEAL' : 'CONCEAL') + '_PASSWORD') | translate">
                <i class="fa fa-fw" [class.fa-eye]="!revealPassword" [class.fa-eye-slash]="revealPassword"></i>
              </button>
            </div>
          </div>
          <div class="invalid-feedback d-block" *ngFor="let error of passwordConfirmErrors">{{error}}</div>
          <div *ngIf="registerForm.errors?.passwordMismatch" class="invalid-feedback d-block">{{ 'GLOBAL.AUTH_MODAL.REGISTER.PASSWORD_MISMATCH' | translate }}</div>
        </ng-container>
      </div>

      <div class="d-flex align-items-center mb-3">
        <button class="btn btn-primary" [disabled]="authLoading || registerForm.invalid">
          <i class="fa fa-user-plus mr-2"></i>
          {{ 'GLOBAL.AUTH_MODAL.REGISTER.SUBMIT' | translate }}
        </button>
        <div *ngIf="authLoading" class="ml-2 spinner-border text-primary"></div>
      </div>

      <ng-container *ngIf="registerError">
        <ngb-alert *ngIf="registerError.type !== uert.VALIDATION_ERROR" [ngSwitch]="registerError.type">
          <ng-container *ngSwitchCase="uert.MESSAGE_ONLY">
            <strong>{{ 'GLOBAL.AUTH_MODAL.REGISTER.UNKNOWN_ERROR_PREFACE' | translate }}</strong>
            {{ registerError.message }}
          </ng-container>
          <ng-container *ngSwitchCase="uert.UNKNOWN">
            <strong>{{ 'GLOBAL.AUTH_MODAL.REGISTER.UNKNOWN_ERROR_PREFACE' | translate }}</strong>
            <pre><code>{{ registerError.payload }}</code></pre>
          </ng-container>
        </ngb-alert>
      </ng-container>

      <p class="mb-0">
        {{ 'GLOBAL.AUTH_MODAL.REGISTER.SWITCH_PRETEXT' | translate }}
        <a href="#" (click)="switchAuthModal($event, 'LOGIN')">
          {{ 'GLOBAL.AUTH_MODAL.REGISTER.SWITCH_TEXT' | translate }}
        </a>
      </p>
    </form>
  </div>
</ng-template>
