<footer class="p-2 text-center text-lg-left">{{
  'GLOBAL.FOOTER.APP_VERSION.0' | translate
  }}<strong>
    <a href='{{ c.GITHUB_URL }}' [title]="'GLOBAL.FOOTER.VISIT_GITHUB' | translate">{{ c.PROJECT_NAME }}</a>{{
    'GLOBAL.FOOTER.APP_VERSION.1' | translate
    }}<a href='{{ c.GITHUB_URL }}/commit/{{ g.commitId }}' [title]="'GLOBAL.FOOTER.SEE_CHANGES' | translate">{{ g.commitId }}</a>
  </strong>{{
  'GLOBAL.FOOTER.APP_VERSION.2' | translate
  }}
  <app-time [date]="g.commitTime"></app-time>
  <span class="divider"></span>
  <a routerLink="/about/privacy">{{'GLOBAL.FOOTER.PRIVACY_POLICY' | translate}}</a>
  <span class="divider"></span>
  <a href="#" (click)="openContactModal()">{{'GLOBAL.FOOTER.CONTACT_US' | translate}}</a>
</footer>
