footer {
  color: color-yiq($primary);
  background: $primary;

  @include media-breakpoint-up(lg) {
    height: $footer-height;
    position: sticky;
    bottom: 0;
  }

  a {
    cursor: pointer;
    text-decoration: underline !important;

    &, &:hover, &:active {
      color: inherit;
    }
  }

  .divider {
    &:before {
      content: "|";
      padding: .5rem;

    }
  }
}
