<app-sidebar>
  <!-- TODO copy hash toggler -->
</app-sidebar>
<app-content>
  <app-breadcrumbs [items]="breadcrumbs$ | async"></app-breadcrumbs>

  <app-main>
    <app-page-header [title]="'TITLES.COLOR_GUIDE_NAMED' | translate: {guide:this.guideName}"
      [subtitle]="'COLOR_GUIDE.SUBTITLE' | translate"></app-page-header>

    <app-color-guide-appearance-list [pagination]="pagination$ | async"
      [appearances]="appearances$ | async"
      [status]="status$ | async"
      (changePage)="changePage($event)"></app-color-guide-appearance-list>
  </app-main>
</app-content>
