<div class="appearance-item">
  <div *ngIf="appearance.spriteHash" class="sprite">
    <a *appVar="appearance | spriteUrl as spritePath" [href]="spritePath" target="_blank">
      <img [src]="spritePath" [alt]="appearance.label" class="sprite-image">
    </a>
  </div>
  <div class="data">
    <div class="appearance-header">
      <a [routerLink]="appearance | appearancePage" class="appearance-name">{{appearance.label}}</a>
    </div>
    <div class="notes">
      <span *ngIf="appearance.notes" [innerHTML]="appearance.notes"></span>
      <span *ngIf="appearance.hasCutieMarks">Cutie mark available</span>
    </div>
  </div>
</div>
