<ng-container *ngIf="status !== s.FAILURE; else nayNotify">
  <ng-template #paginationComponent>
    <app-pagination [data]="pagination"
      [status]="status"
      (goto)="changePage.emit($event)"></app-pagination>
  </ng-template>

  <ng-template [ngTemplateOutlet]="paginationComponent"></ng-template>

  <div [ngClass]="{'spinner-border spinner-border-sm': status === s.LOAD}">
    <ng-container *ngIf="status === s.SUCCESS">
      <app-color-guide-appearance *ngFor="let item of appearances" [appearance]="item"></app-color-guide-appearance>
    </ng-container>
  </div>

  <ng-template [ngTemplateOutlet]="paginationComponent"></ng-template>
</ng-container>

<ng-template #nayNotify>
  <ngb-alert [dismissible]="false" type="danger">{{'COLOR_GUIDE.LOADING_ERROR' | translate}}</ngb-alert>
</ng-template>
