<div class="appearance-item">
  <div *ngIf="appearance.sprite" class="sprite">
    <app-color-guide-appearance-sprite [appearance]="appearance"></app-color-guide-appearance-sprite>
  </div>
  <div class="data">
    <div class="appearance-header">
      <a [routerLink]="appearance | appearancePage" class="appearance-name">{{appearance.label}}</a>
    </div>
    <div class="notes">
      <span *ngIf="appearance.notes" class="notes-text" [innerHTML]="appearance.notes"></span>
      <span *ngIf="appearance.hasCutieMarks">Cutie mark available</span>
    </div>
  </div>
</div>
