{
  "printWidth": 140,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "quoteProps": "as-needed",
  "importOrder": [
    "^(!?@mlp-vectorclub|src|module)/(.*)$",
    "^@mlp-vectorclub(.*)$",
    "^.[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
