#content {
  border-radius: 5px;
  border: 1px solid $content-outline;
  background-color: $content-bg;
  padding: 1rem;
  color: #000;
  box-sizing: border-box;
  width: 100%;

  h1 {
    text-align: center;
    margin: 0 0 .3rem;
    font-family: $headings-font-family;

    + p {
      text-align: center;
      margin: 0 0 .75rem;
      font-style: italic;
    }
  }
}
