.social-sharing {
  display: flex;
  flex-flow: row wrap;
  font-size: 2rem;

  > :not(:last-child) {
    margin-right: .75rem;
  }
}

.telegram-color {
  color: #36AEE2 !important;
}

.twitter-color {
  color: #06ABED !important;
}

.whatsapp-color {
  color: #24D366 !important;
}

.email-color {
  color: #7F7F7F !important;
}

.vk-color {
  color: #44668E !important;
}
