@use '../vars';

@mixin link($color: vars.$link-color, $hover: vars.$link-hover-color) {
  color: $color;
  text-decoration: none !important;
  transition: color 0.2s linear;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: $hover;
  }
}
