@mixin navbar-li {
  a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 1px 3.5px;
    height: 24px;
    line-height: 22px;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: rgba(white, 0.2);
    }

    &:active {
      background-color: rgba(white, 0.5);
    }
  }
}
