.sprite-image {
  text-align: center;
  margin-bottom: 0.625rem;
}

.notes {
  font-size: 1.1em;
  background: #ffefd5;
  color: #8b4513;
  padding: 0.625rem;
  border: 1px solid #deb887;
  display: inline-block;
  margin-bottom: 1rem;
}

.aside {
  font-size: small;
  margin-bottom: 0.25rem;
}
