.colorListItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  .colorInfo {
    margin-left: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    line-height: 1.2;

    &.detailed .colorLabel {
      font-size: 1.1rem;
    }

    .colorLabel {
      font-size: 1.2rem;
    }

    .colorDetails {
      font-size: 0.75rem;
    }
  }
}
