@import '../vars';
@import 'bootstrap-scss/functions';
@import 'bootstrap-scss/variables';
@import 'bootstrap-scss/mixins';
@import 'bootstrap-scss/list-group';

.searchBarCol {
  @include media-breakpoint-up(xl) {
    max-width: 700px;
  }
}

.searchInputGroup {
  &.acOpen {
    > :first-child {
      border-bottom-left-radius: 0;
    }

    > :last-child {
      &,
      > :last-child {
        border-bottom-right-radius: 0;
      }
    }
  }
}

.acResults {
  position: absolute;
  z-index: $zindex-dropdown;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  > :first-child {
    border-top: 0;
  }
}

.acResultItem {
  display: flex !important;
  flex-flow: row nowrap;
  align-items: center;

  &:hover {
    @extend .list-group-item, .active;
  }
}

.acResultLabel {
  font-size: 1.5rem;
}
