@use '../bootstrap-defaults' as bs;
@use '../breakpoints' as *;

.searchBarCol {
  @include media-breakpoint-up(xl) {
    max-width: 700px;
  }
}

.searchInputGroup {
  &.acOpen {
    > :first-child {
      border-bottom-left-radius: 0;
    }

    > :last-child {
      &,
      > :last-child {
        border-bottom-right-radius: 0;
      }
    }
  }
}

.acResults {
  position: absolute;
  z-index: bs.$zindex-dropdown;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  > :first-child {
    border-top: 0;
  }
}

.acResultItem {
  display: flex !important;
  flex-flow: row nowrap;
  align-items: center;

  // Same as Bootstrap's .list-group-item.active
  &:hover {
    z-index: 2;
    color: var(--bs-list-group-active-color);
    background-color: var(--bs-list-group-active-bg);
    border-color: var(--bs-list-group-active-border-color);
  }
}

.acResultLabel {
  font-size: 1.5rem;
}

.acResultPreview {
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
}
