.socialSharing {
  display: flex;
  flex-flow: row wrap;
  font-size: 2rem;

  > :not(:last-child) {
    margin-right: 0.75rem;
  }
}

.telegramColor {
  color: #36aee2 !important;
}

.twitterColor {
  color: #06abed !important;
}

.whatsappColor {
  color: #24d366 !important;
}

.emailColor {
  color: #7f7f7f !important;
}

.vkColor {
  color: #44668e !important;
}
