@import "scss/vars";
@import "scss/fonts";

html {
  font-size: 16px;
}

body {
  font-family: $regular-font;
  font-size: 1rem;
  padding-top: $header-height;
}

app-root > * {
  min-height: 100vh;
}
