@import "scss/vars";
@import "scss/fonts";
@import '~ngx-progressive-image-loader/ngx-progressive-image-loader';

@include progressive-image-loader(0.5);

html {
  font-size: 16px;
}

body {
  overflow-x: auto;
  overflow-y: scroll;
  padding-top: $header-height;
  background-color: #fff;
  background-image: url(/assets/img/grid-16x16.svg), url(/assets/img/grid-4x4.svg);
}

app-root > * {
  min-height: 100vh;
}

.ant-layout {
  background: transparent !important;
}
