@import "scss/vars";
@import "scss/fonts";
@import "scss/mixins";
@import "~bootstrap/scss/bootstrap";
@import "app/app.component";

html {
  background-color: $primary;
  min-height: 100vh;
}

body {
  background-color: #fff;
  background-image: url(/assets/img/grid-16x16.svg), url(/assets/img/grid-4x4.svg);
}

.breadcrumb-item.active {
  font-weight: bold;
}
