html {
  background-color: $primary;
  min-height: 100vh;
}

body {
  background: $primary;
  margin: 0 !important;
  padding-top: header-height();
  min-height: 100vh;

  @include media-breakpoint-up(lg) {
    @include white-grid;
  }

  @include media-breakpoint-down(md) {
    overflow: initial;

    &:before {
      z-index: 2;
      transition: left .4s linear;
    }

    &.sidebar-open {
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(black, .7);
      }
    }
  }
}

.breadcrumb-item.active {
  font-weight: bold;
}


#content, #dialogContent, .notice {
  a:not(.btn) {
    @include link
  }
}

#content > :last-child {
  margin-bottom: 0 !important;
}
