html {
  background-color: $primary;
  min-height: 100vh;
}

body {
  background: $primary;
  margin: 0 !important;
  padding-top: header-height();
  min-height: 100vh;

  @include media-breakpoint-up(lg) {
    @include white-grid;
  }
}

.breadcrumb-item.active {
  font-weight: bold;
}


#content, #dialogContent, .notice {
  a:not(.btn) {
    @include link
  }
}

#content > :last-child {
  margin-bottom: 0 !important;
}
