@import url('https://fonts.googleapis.com/css?family=Arimo:400,700,400italic&display=swap');

@font-face {
  font-family: "Celestia";
  font-display: swap;
  src: url('/assets/Celestia Medium Redux.ttf');
  src: local('Celestia Redux Alternate'), local('Celestia Medium Redux'), url('/assets/Celestia Medium Redux.ttf') format('truetype');
}
