$primary: #2C73B1;
$secondary: #1E3DB3;
$blurple: #7289DA;
$fella: #05CC47;
$primary-dark: darken($primary, 20);

$link-color: $primary;

$avatar-size: 50px;
$footer-height: 2.5rem;

$font-family-monospace: 'Consolas', monospace;
$font-family-sans-serif: 'Arimo', sans-serif;

$headings-font-family: 'Celestia', 'Lucida Calligraphy', 'Monotype Corsiva', cursive;

$breadcrumb-padding-y: .5rem;
$breadcrumb-padding-x: .5rem;
$breadcrumb-border-radius: 0;
$breadcrumb-bg: $primary-dark;
$breadcrumb-active-color: #fff;
$breadcrumb-divider-color: rgba($breadcrumb-active-color, .5);

$theme-colors: (
  "blurple": $blurple,
  "fella": $fella,
)
