@use '../bootstrap' as bs;
@use '../breakpoints' as *;
@use '../functions' as *;
@use '../mixins' as *;
@use '../vars' as *;

#header {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  right: 0;
  height: header-height();
  overflow: hidden;
  @include fluid-background;
}

#sidebar-toggler {
  padding: 0;
  border: 0;
  display: inline-block;
  position: absolute;
  left: bs.$nav-link-padding-y;

  .notif-cnt {
    position: absolute;
    z-index: 6;
    bottom: 0;
    right: 0;
    padding: 0 4px;
    color: #c00;
    background: #fff;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5em;
    pointer-events: none;
  }

  @include media-breakpoint-up($sidebar-breakpoint-up) {
    display: none;
  }
}

.navbar {
  @include media-breakpoint-down(lg) {
    padding-top: 0.156rem;
    padding-bottom: 0.156rem;
  }
}

.navbar-brand {
  @include outline(2);
  font-family: $headings-font-family;

  &,
  &:hover,
  &:active {
    color: #000 !important;
  }

  @include media-breakpoint-down(lg) {
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: rem(28px);
    line-height: rem(45px);
    padding: 0;
    position: relative;
    top: -0.18rem;
  }
}
