@use 'sass:color';
@use '../bootstrap' as bs;
@use '../vars' as *;

.page-item-ellipsis .page-link {
  background-color: color.mix($ui, bs.$body-bg, 5%);
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: color.mix($ui, bs.$body-bg, 10%);
  }
}

.tooltip-go-to-page input {
  width: 4rem;
}
