@import "scss/vars";

.breadcrumbs {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: $content-margin;
  color: #fff;
  background: $sidebar-background;

  &:empty {
    display: none;
  }

  li {
    display: inline;

    &.div {
      $margin: .5em;
      margin-right: $margin;
      opacity: .5;

      &:not(:first-child) {
        margin-left: $margin;
      }
    }

    a {
      font-weight: normal;
      color: inherit;
    }
  }
}
