@import "scss/vars";

.main-wrap {
  padding: $content-margin;
  position: relative;
  padding-bottom: $footer-height + $content-margin;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: $content-margin;
    height: $content-margin;
    content: "";
    background: url('/assets/img/sidebar-corner.svg') no-repeat top left;
    background-size: $content-margin * 2;
  }

  main {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    color: #000;
    border: 1px solid rgba(170, 170, 170, .8);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .75);
  }
}
