@import "scss/vars";

h1 {
  font-family: $cursive;
  margin: 0 0 5px;
  text-align: center;
  font-weight: bold;

  + p {
    font-style: italic;
    margin: 0 0 10px;
    text-align: center;
    font-size: 1.6em;
  }
}
