<div class="pagination-wrapper" *ngIf="data">
  <ng-container *appVar="status === s.LOAD as loading">
    <ul class="pagination" *ngIf="items.length > 0">
      <li *ngFor="let item of items">
        <ng-container *ngIf="item.pageNumber === null; else nonNavigator">
          <button nz-button nzType="link" nz-popover nzPopoverTrigger="click" [nzPopoverContent]="goto" nzPopoverPlacement="bottom"
            (nzVisibleChange)="displayPopover($event)">{{item.label}}</button>
        </ng-container>
        <ng-template #nonNavigator>
          <button *appVar="loading && lastPressedPage === item.pageNumber as selfLoading" nz-button [nzLoading]="selfLoading"
            [disabled]="item.pageNumber === data.currentPage" (click)="pageChange(item.pageNumber)">
            {{ selfLoading ? '' : item.label}}
          </button>
        </ng-template>
      </li>
    </ul>
  </ng-container>
</div>

<ng-template #goto>
  <form [formGroup]="jumpForm" (submit)="jumpSubmit()" class="jump-to-form">
    {{'GLOBAL.PAGINATION.JUMP_TO' | translate}}:
    <nz-input-number formControlName="page" [nzMin]="1" [nzMax]="data.totalPages"></nz-input-number>
    <button *appVar="status === s.LOAD as loading" nz-button [nzLoading]="loading" nzType="primary">
      <i *ngIf="!loading" class="fa fa-step-forward"></i>
    </button>
  </form>
</ng-template>
