@import "scss/vars";

.pagination-wrapper {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;

  li {
    display: block;

    &:not(:last-child) {
      margin-right: .2rem;
    }
  }
}

.jump-to-form {
  input {
    margin-right: .5rem;
  }
}
