@import "scss/vars";

.user-info {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 6px;
  padding: 4px;
  border-radius: 50px;
  @extend %sidebar-content;

  &:before {
    $size: 2.5em;
    $offset: calc(50% - #{$size/2});
    position: absolute;
    top: $offset;
    left: $offset;
    display: block;
    width: $size;
    height: $size;
    content: '';
    pointer-events: none;
    opacity: 0;
    background: url('/assets/loading-ring-white.svg') no-repeat center;
    background-size: contain;
  }

  > *, &:before {
    transition: opacity .5s;
  }

  &.provider-deviantart {
    border-radius: 5px;
  }

  &.updating-session {
    > * {
      pointer-events: none;
      opacity: .3;
    }

    &:before {
      opacity: 1;
    }
  }

  .user-data {
    display: flex;
    align-items: flex-start;
    flex: 1 1 100%;
    flex-flow: column nowrap;
    justify-content: space-around;
    max-width: calc(100% - 50px - 4px - 10px);
    text-align: left;

    .user-name {
      font-size: 1.5em;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .user-role {
      font-size: .8em;
      display: flex;
      align-items: center;
      flex-flow: row nowrap;
      justify-content: flex-start;
      text-transform: uppercase;
    }
  }
}
