<div [class]="'user-info provider-' + user.avatarProvider">
  <app-avatar-wrap [avatarProvider]="user.avatarProvider" [avatarUrl]="user.avatarUrl"></app-avatar-wrap>
  <div class="user-data">
		<span class="user-name">
      <app-user-link *ngIf="signedIn; else defaultUsername" [userName]="user.name"></app-user-link>
    </span>
    <span class="user-role">
			<span>{{user.role | roleLabel}}</span>
		</span>
  </div>
</div>

<ng-template #defaultUsername><span>{{'GLOBAL.GUEST_USER_NAME' | translate}}</span></ng-template>
